name: Draft Release

on:
  workflow_call:
    inputs:
      commitish:
        type: string
        description: 'The release target, i.e. branch or commit it should point to. Default: main'
        required: false
        default: 'main'
      latest:
        type: boolean
        description: 'Whether this should be marked as the latest release. Default: true'
        required: false
        default: true

permissions:
  contents: read

jobs:
  draft-release:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97
        with:
          commitish: ${{ inputs.commitish}}
          latest: ${{ inputs.latest }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
